@import "../variables";

.calculator_container {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 30px;
  box-shadow: -1px 1px 10px $border-shadow-color;
  font-family: Lato,sans-serif;
}

label, select{
  margin-bottom: 15px;
}

label, p.property {
  color: $font-color;
  text-align: left;
  font-size: $phone-font-size;
}

p.property_price {
  color: $blue-primary-color;
  font-weight: 700;
  font-size: $phone-font-size;
}

.button_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0 30px;
  grid-template-areas:
    ". .";
}

.price_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alert_text {
  font-size: $phone-alert-f-size;
  color: $font-color;
  width: 75%;
  text-align: center;
}

.alert_text_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

*:focus {
  appearance: none;
  outline-width: 0;
  outline: none !important;
  box-shadow: 1px 1px 1px 1px $border-shadow-color;
}

@media(min-width: $tablet) {
  label, p.property, p.property_price {
    font-size: $tablet-font-size
  }
  .alert_text {
    font-size: $tablet-alert-f-size;
  }
}
