$phone: 640px;
$tablet: 768px;
$desktop: 1024px;

input.input_price {
  -webkit-appearance: none;
  width: calc(100% - 70px);
  padding-left: 12px;
  background: #f7f8fb;
  height: 45px;
  border: 1px solid #e4e2e2;
  border-radius: 0 5px 5px 0;
  font-size: 15px;
  color: #00538b;
}

.input_group {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  margin-bottom: 15px;
}

span.symbol_span {
  display:-webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 54.5px;
  background: #e1e5eb;
  color: #00538b;
  border-radius: 5px 0 0 5px;
}


@media(min-width: $tablet) {
  input.input_price {
    height: 50px;
    font-size: 19px;
  }

  span.symbol_span {
    height: 54.5px;
    font-size: 19px;
  }
}
